html{
	height: 100%;
}
body{
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	height: 100%;
}
p {
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
.section {
	display: flex;
	justify-content: center;
}
.container {
	width: 100%;
	max-width: 1166px;
}
.nav {
	width: 100%;
	display: flex;
	margin-bottom: 130px;
}
.nav__logo {	
	max-width: 70px;
	max-height: 70px;
	width: 100%;
	height: 100%;

}
.nav__list {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.list {
	padding: 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
li{
	list-style-type: none;
}
.link {
	text-decoration: none;
	color: #1B4759;
	font-size: 18px;
	line-height: 10px;
	font-weight: 400;
	letter-spacing: 2px;
}
.link:hover{
	color: #012E67;
}
.head-container{
	width: 100%;
	max-width: 766px;
}


.title-row {
	display: block;
}
.content{
	display: block;
	height: 100%;
}
.title {
	text-align: center;
	margin: 0;
	font-weight: 900;
	font-size: 30px;
	line-height: 36px;
	letter-spacing: 3px;
	color: #1B4759;
	margin-bottom: 32px;
}
.title-row hr{
	margin-bottom: 25px;
}

.title-section {
	margin: 0;
	text-align: center;
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 2px;
	color: #1B4759;
}
.name-section {
	margin: 0;
	text-align: center;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 2px;
	color: #1B4759;
}
.workspace {
	height: 100%;
	max-height: 1235px;
	display: flex;
}
.workspace__side {
	display: flex;
	padding-top:5%;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	max-width: 72px;
}
.name-discipline {
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 1px;
	font-size: 18px;
	color: #fff;
}
input {
	outline:none;
}
.workspace__disc {
	padding: 12px 30px;
	background-color: #4B7384;
	border-radius: 0px 0px 30px 0px;
	writing-mode: tb-rl;
	transform: rotate(180deg);
}
.field {
	margin-left: 7%;
	margin-top: 3%;
}
.form {
	width: 100%;
	max-width: 1094px;
	background-color: #CFE1E9;
	border-radius: 30px;
	max-height: 1094px;
	min-height: 100%;
	position: relative;
}
p{
	margin: 0;
}
.field__name {
	max-width: 75%;
	display: flex;
	justify-content: space-between;
}
.field__field {
	max-width: 80%;
	height: 100%;
}
datalist option {
	font-weight: 500;
	font-size: 14px;
	background-color: #CFE1E9;
	border-radius: 5px;
	border:1px solid #4B7384;
}
.field__input {
	width: 100%;
	background-color: #95B0BC;
	border: none;
	border-radius: 10px;
	font-size: 18px;
	font-weight: 200;
	color: #1B4759;
	letter-spacing: 2px;
	padding-left: 8px;
	height: 100%;
	min-height: 25px;
}

.button-block {
	max-height: 46px;
	height: 100%;
	width: 100%;
	color: #fff;
	display: flex;
	justify-content: space-around;
	position: absolute;
	bottom:2%;	
}
.button-block button:first-child:hover {
	margin-top: 2px;
	box-shadow: 1px 1px 5px 1px #1B4759;
}
.button-block button:last-child:hover {
	margin-top: 2px;
	box-shadow: 1px 1px 5px 1px #1B4759;
}
.main-button {
	background: linear-gradient(to top, #FF5F04, #B54100);
	color: #fff;
	border-radius: 30px;
	border: none;
	font-weight: 100;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 2px;
	height: 100%;
	width: 100%;
	max-width: 247px;
	box-shadow: 1px 3px 5px 1px #1B4759;
	cursor: pointer;
}
button {
	cursor: pointer;
}
.section-content {
	height: 100%;
	margin-bottom: 130px;
}
.field__discription {
	padding: 0;
	margin: 0;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 2px;
	color: #1B4759;
}
.visible {
	visibility: visible;
}
.invisible {
	visibility: hidden;
}
.tooltip {
  position: fixed;
  padding: 10px 20px;
  border: 1px solid #b3c9ce;
  border-radius: 4px;
  text-align: center;
  color: #333;
  background: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}
.field__name img:hover {
	margin-bottom: 1px;
}

.help-icon {
	font-weight: 600;
	font-size: 18px;
	color: #fff;
	background-color: #4B7384;
	border-radius: 10px 10px 0 0px;
	padding: 2px 7px 0px 7px;
	box-shadow: 4px 3px 3px rgba(0, 0, 0, .3);
	cursor: pointer;
	transition: 300ms;
}
.help-icon:hover {
	color: red;
	padding: 2px 7px 0px 7px;
	box-shadow: 2px 3px 3px rgba(0, 0, 0, .3);
	transition: 300ms;
}
.newField {
	font-weight: 600;
	border: none;
}

.addField{
	max-width: 75%;
	display: flex;
	justify-content: flex-end;
}
.addField:last-child {
	margin-left: 3px;
}
#addField {
	font-weight: 600;
	font-size: 18px;
	border: none;
	color: #fff;
	background-color: #4B7384;
	border-radius: 5px;
	transition: 300ms;
}
#addField:hover {
	transform: rotate(180deg);
	color:#3DD714;
	transition:400ms;
}
.renderButton {
	height: 100%;
	min-height: 50px;
	margin-top: 10px;
	display: flex;
	justify-content: center;
}
#renderButton {
	color:#fff;
	background: linear-gradient(to top, #00A86B, #51C878);
	border: none;
	border-radius: 10px;
	width: 20%;
	font-size: 20px;
	font-weight: 550;
	letter-spacing: 1px;
	box-shadow: 1px 3px 5px 1px #1B4759;
}

#renderButton:hover {
	box-shadow: 0px 1px 3px 1px #1B4759;
	margin-top: 2px;
	transition: 150ms;
}

textarea{
	outline: none;
}

#delField {
	font-weight: 600;
	font-size: 18px;
	border: none;
	color:#fff;
	background-color: #4B7384;
	border-radius: 5px;
	transition: 300ms;
}
#delField:hover {
	transform: rotate(180deg);
	color: red;
	transition:400ms;
}